@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald/Oswald-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Oswald-light";
    src: url("fonts/Oswald/Oswald-ExtraLight.ttf");
    font-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

h1 {
    color: red;
    font-family: 'Roboto', sans-serif;

    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

#bioHeader {
    color: brown;
}

#skillsHeader {
    color: coral;
}

.content {
    color: grey;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif; 
    text-align: justify;
    /*text-transform: uppercase;*/
    line-height: 50px;
}

.bold {
    font-weight: bold;
}

.img-div {
    background-color: lightblue;
}

.light {
    background-color: aliceblue;
}

img {
    width: 200px;
    margin: 20px;
}